/* [href*="/"]{ */
/*     color: #3EA5FD; */
/* } */
[href*="."]{
    color: #3EA5FD;
}
[lang|="es"]{ /* Tiene que coincidir exáctamente al principio, no importa que le preceda */
    background-color: #181818;
}
pre{
  background-color: #212121;
}
body{
  color: white;
}
.container { 
  display: flex;
  justify-content: center;
}